{% extends 'base.html' %}
{{ logo }}
{% load static %}

{% block title %}Главная{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/blocks-page37047426.min.css' %}" type="text/css" media="all" onerror="this.loaderr='y';">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blocks-page37047426.min.js' %}" charset="utf-8" async onerror="this.loaderr='y';"></script>
{% endblock %}

{% block content %}
    <div id="rec599471995" class="r t-rec" style=" " data-animationappear="off" data-record-type="396"><!-- T396 -->
            <style>
                #rec599471995 .t396__artboard {
                    min-height: 550px;
                    height: 100vh;
                    background-color: #ffffff;
                }

                #rec599471995 .t396__filter {
                    min-height: 550px;
                    height: 100vh;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
                    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                    will-change: transform;
                }

                #rec599471995 .t396__carrier {
                    min-height: 550px;
                    height: 100vh;
                    background-position: center center;
                    background-attachment: fixed;
                    transform: translate3d(0, 0, 0);
                    -moz-transform: unset;
                    background-image: url('{{ header.photo.url }}');
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media screen and (min-width: 1200px) {
                    #rec599471995 .t396__carrier-wrapper {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        clip-path: inset(0 0 0 0);
                    }

                    #rec599471995 .t396__carrier {
                        position: fixed;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-size: cover;
                        background-position: center center;
                        transform: translateZ(0);
                        will-change: transform;
                        pointer-events: none;
                    }
                }

                @media screen and (max-width: 1199px) {
                    #rec599471995 .t396__artboard {}

                    #rec599471995 .t396__filter {}

                    #rec599471995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec599471995 .t396__artboard {}

                    #rec599471995 .t396__filter {}

                    #rec599471995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec599471995 .t396__artboard {}

                    #rec599471995 .t396__filter {}

                    #rec599471995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec599471995 .t396__artboard {}

                    #rec599471995 .t396__filter {}

                    #rec599471995 .t396__carrier {
                        background-attachment: scroll;
                    }
                }

                #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                    color: #ffffff;
                    text-align: center;
                    z-index: 2;
                    top: calc(50vh - 0px + -77.5px);
                    left: calc(50% - 580px + 0px);
                    width: 1160px;
                }

                #rec599471995 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                    color: #ffffff;
                    font-size: 80px;
                    font-family: 'Arial', Arial, sans-serif;
                    line-height: 1.2;
                    font-weight: 700;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                        top: calc(275px - 0px + -93.5px);
                        left: calc(50% - 580px + 0px);
                        width: 940px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                        text-align: center;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                        font-size: 80px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                        top: calc(275px - 0px + -135px);
                        left: calc(50% - 580px + 0px);
                        width: 620px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                        font-size: 72px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                        top: calc(275px - 0px + -123px);
                        left: calc(50% - 580px + 0px);
                        width: 460px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                        font-size: 56px;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] {
                        top: calc(275px - 0px + -148px);
                        left: calc(50% - 580px + 0px);
                        width: 300px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                        font-size: 56px;
                        line-height: 1.25;
                    }
                }

                #rec599471995 .tn-elem[data-elem-id="1473778763358"] {
                    color: #ffffff;
                    text-align: center;
                    z-index: 4;
                    top: calc(50vh - 0px + 72px);
                    left: calc(50% - 420px + 0px);
                    width: 840px;
                }

                #rec599471995 .tn-elem[data-elem-id="1473778763358"] .tn-atom {
                    color: #ffffff;
                    font-size: 22px;
                    font-family: 'Arial', Arial, sans-serif;
                    line-height: 1.55;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] {
                        top: calc(275px - 0px + 50px);
                        left: calc(50% - 420px + 0px);
                        width: 790px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] .tn-atom {
                        font-size: 20px;
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] {
                        top: calc(275px - 0px + 80px);
                        left: calc(50% - 420px + 0px);
                        width: 510px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] .tn-atom {
                        font-size: 20px;
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] {
                        top: calc(275px - 0px + 40px);
                        left: calc(50% - 420px + 0px);
                        width: 460px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] .tn-atom {
                        font-size: 18px;
                        line-height: 1.45;
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] {
                        top: calc(275px - 0px + 20px);
                        left: calc(50% - 420px + 0px);
                        width: 300px;
                    }

                    #rec599471995 .tn-elem[data-elem-id="1473778763358"] .tn-atom {
                        font-size: 18px;
                    }
                }

                #rec599471995 .tn-elem[data-elem-id="1473778962919"] {
                    z-index: 5;
                    top: calc(50vh - 0.5px + 3.5px);
                    left: calc(50% - 80px + 0px);
                    width: 160px;
                    height: 1px;
                }

                #rec599471995 .tn-elem[data-elem-id="1473778962919"] .tn-atom {
                    background-color: #ffffff;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                }

                @media screen and (max-width: 1199px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778962919"] {
                        top: calc(275px - 0.5px + -12.5px);
                        left: calc(50% - 80px + 0px);
                    }
                }

                @media screen and (max-width: 959px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778962919"] {
                        top: calc(275px - 0.5px + -24.5px);
                        left: calc(50% - 80px + 0px);
                    }
                }

                @media screen and (max-width: 639px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778962919"] {
                        top: calc(275px - 0.5px + -35.5px);
                        left: calc(50% - 80px + 0px);
                    }
                }

                @media screen and (max-width: 479px) {
                    #rec599471995 .tn-elem[data-elem-id="1473778962919"] {
                        top: calc(275px - 0.5px + -61.5px);
                        left: calc(50% - 80px + 0px);
                    }
                }
            </style>
            <div class="t396">
                <div class="t396__artboard" data-artboard-recid="599471995" data-artboard-screens="320,480,640,960,1200" data-artboard-height="550" data-artboard-valign="center" data-artboard-height_vh="100" data-artboard-upscale="grid">
                    <div class="t396__carrier-wrapper">
                        <div class="t396__carrier t-bgimg" data-artboard-recid="599471995" data-original="{{ header.photo.url }}"></div>
                    </div>
                    <div class="t396__filter" data-artboard-recid="599471995"></div>
                    <div class="t396__elem tn-elem tn-elem__5994719951470209944682" data-elem-id="1470209944682" data-elem-type="text" data-field-top-value="-77.5" data-field-left-value="0" data-field-width-value="1160" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-prx="mouse" data-animate-prx-dx="25" data-animate-prx-dy="25" data-field-top-res-320-value="-148" data-field-left-res-320-value="0" data-field-width-res-320-value="300" data-field-top-res-480-value="-123" data-field-left-res-480-value="0" data-field-width-res-480-value="460" data-field-top-res-640-value="-135" data-field-left-res-640-value="0" data-field-width-res-640-value="620" data-field-top-res-960-value="-93.5" data-field-left-res-960-value="0" data-field-width-res-960-value="940">
                        <div class="tn-atom" field="tn_text_1470209944682">{{ header.header }}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5994719951473778763358" data-elem-id="1473778763358" data-elem-type="text" data-field-top-value="72" data-field-left-value="0" data-field-width-value="840" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value data-field-widthunits-value="px" data-animate-prx="mouse" data-animate-prx-dx="25" data-animate-prx-dy="25" data-field-top-res-320-value="20" data-field-left-res-320-value="0" data-field-width-res-320-value="300" data-field-top-res-480-value="40" data-field-left-res-480-value="0" data-field-width-res-480-value="460" data-field-top-res-640-value="80" data-field-left-res-640-value="0" data-field-width-res-640-value="510" data-field-top-res-960-value="50" data-field-left-res-960-value="0" data-field-width-res-960-value="790">
                        <div class="tn-atom" field="tn_text_1473778763358">{{ header.text }}</div>
                    </div>
                    <div class="t396__elem tn-elem tn-elem__5994719951473778962919" data-elem-id="1473778962919" data-elem-type="shape" data-field-top-value="3.5" data-field-left-value="0" data-field-height-value="1" data-field-width-value="160" data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="px" data-field-widthunits-value="px" data-animate-prx="mouse" data-animate-prx-dx="25" data-animate-prx-dy="25" data-field-top-res-320-value="-61.5" data-field-left-res-320-value="0" data-field-top-res-480-value="-35.5" data-field-left-res-480-value="0" data-field-top-res-640-value="-24.5" data-field-left-res-640-value="0" data-field-top-res-960-value="-12.5" data-field-left-res-960-value="0">
                        <div class="tn-atom"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t396_init', function() {
                        t396_init('599471995');
                    });
                });
            </script><!-- /T396 -->
        </div>
        <div id="rec599950680" class="r t-rec t-rec_pt_150 t-rec_pb_150" style="padding-top:150px;padding-bottom:150px; " data-record-type="509"><!-- t509 -->
            <div class="t509">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="fadeinright" data-animate-group="yes" field="btitle">Преимущества</div>
                        </div>
                    </div>
                </div>
                <div class="t-card__container t-container">
                    <div class="t509__colwrapper t-col t-col_10 t-prefix_1">

                        {% for advantage in advantages %}

                            {% if advantage.countable %}

                                <div class="t-item t-animate" data-animate-style="fadeinright" data-animate-chain="yes">
                            <div class="t509__col t-col t-col_5 t509__mobileimg" itemscope itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ advantage.photo.url }}">
                                <div class="t509__blockimg t-bgimg" data-original="{{ advantage.photo.url }}" bgimgfield="li_img__1476897493817" data-image-width="460" data-image-height="340px" style="background-image:url(&#x27;images/photo_2023-06-03_15-_1.jpg&#x27;);"></div>
                            </div>
                            <div class="t509__col t-col t-col_5 t509__leftcol">
                                <div class="t509__textwrapper t-align_left" style="max-width:400px;">
                                    <div class="t509__content t-valign_middle">
                                        <div class="t509__box">
                                            <div class="t-card__title t-heading t-heading_xs" field="li_title__1476897493817" style>{{ advantage.header }}</div>
                                            <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1476897493817" style>{{ advantage.text | linebreaks }}</div><a href="{{ button.link }}" class="t-card__link" target="_blank">
                                                <div class="t-card__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#1f5bff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                                    {{ button.text }}</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="t509__col t-col t-col_5 t509__rightcol t509__desktopimg">
                                <div class="t509__imgwrapper" style itemscope itemtype="http://schema.org/ImageObject">
                                    <meta itemprop="image" content="{{ advantage.photo.url }}">
                                    <div class="t509__blockimg t-bgimg" data-original="{{ advantage.photo.url }}" bgimgfield="li_img__1476897493817" data-image-width="460" data-image-height="340px" style="background-image:url(&#x27;images/photo_2023-06-03_15-_1.jpg&#x27;);"></div>
                                </div>
                            </div>
                        </div>
                                <div class="t509__separator t-clear" style></div>

                            {% else %}

                                <div class="t-item t-animate" data-animate-style="fadeinright" data-animate-chain="yes">
                            <div class="t509__col t-col t-col_5 t509__mobileimg" itemscope itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ advantage.photo.url }}">
                                <div class="t509__blockimg t-bgimg" data-original="{{ advantage.photo.url }}" bgimgfield="li_img__1476897695209" data-image-width="460" data-image-height="340px" style="background-image:url(&#x27;images/photo_2023-06-03_15-.jpg&#x27;);"></div>
                            </div>
                            <div class="t509__col t-col t-col_5 t509__leftcol t509__desktopimg">
                                <div class="t509__imgwrapper" style itemscope itemtype="http://schema.org/ImageObject">
                                    <meta itemprop="image" content="{{ advantage.photo.url }}">
                                    <div class="t509__blockimg t-bgimg" data-original="{{ advantage.photo.url }}" bgimgfield="li_img__1476897695209" data-image-width="460" data-image-height="340px" style="background-image:url(&#x27;images/photo_2023-06-03_15-.jpg&#x27;);"></div>
                                </div>
                            </div>
                            <div class="t509__col t-col t-col_5 t509__rightcol">
                                <div class="t509__textwrapper t-align_left" style="max-width:400px;">
                                    <div class="t509__content t-valign_middle">
                                        <div class="t509__box">
                                            <div class="t-card__title t-heading t-heading_xs" field="li_title__1476897695209" style>{{ advantage.header }}</div>
                                            <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1476897695209" style>{{ advantage.text | linebreaks }}</div><a href="{{ button.link }}" class="t-card__link" target="_blank">
                                                <div class="t-card__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#1f5bff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">{{ button.text }}</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="t509__separator t-clear" style></div>

                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>
            <style>
                @media (hover),
                (min-width:0\0) {
                    #rec599950680 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec599950680 .t-btn:not(.t-animate_no-hover) {
                        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }

                    #rec599950680 .t-btntext:not(.t-animate_no-hover):hover {}
                }
            </style>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t509_setHeight', function() {
                        window.addEventListener('resize', t_throttle(function() {
                            t509_setHeight('599950680');
                        }));
                        t509_setHeight('599950680');
                        var rec = document.querySelector('#rec599950680');
                        if (!rec) return;
                        var wrapper = rec.querySelector('.t509');
                        if (wrapper) {
                            wrapper.addEventListener('displayChanged', function() {
                                t509_setHeight('599950680');
                            });
                        }
                    });
                });
            </script>
        </div>

        <div id="rec602607692" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-record-type="509"><!-- t509 -->
            <div class="t509">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="zoomin" field="btitle">Мастера</div>
                        </div>
                    </div>
                </div>
                <div class="t-card__container t-container">
                    <div class="t509__colwrapper t-col t-col_10 t-prefix_1"></div>
                </div>
            </div>
            <style>
                @media (hover),
                (min-width:0\0) {
                    #rec602607692 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec602607692 .t-btn:not(.t-animate_no-hover) {
                        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }

                    #rec602607692 .t-btntext:not(.t-animate_no-hover):hover {}
                }
            </style>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t509_setHeight', function() {
                        window.addEventListener('resize', t_throttle(function() {
                            t509_setHeight('602607692');
                        }));
                        t509_setHeight('602607692');
                        var rec = document.querySelector('#rec602607692');
                        if (!rec) return;
                        var wrapper = rec.querySelector('.t509');
                        if (wrapper) {
                            wrapper.addEventListener('displayChanged', function() {
                                t509_setHeight('602607692');
                            });
                        }
                    });
                });
            </script>
        </div>

        {% for master in masters %}

        <div id="rec598791512" class="r t-rec t-rec_pt_150 t-rec_pb_150" style="padding-top:150px;padding-bottom:150px; " data-record-type="544"><!-- T544 -->
            <div style="width: 0; height: 0; overflow: hidden;">
                <div class="t544__sizer t-col t-col_6" data-auto-correct-mobile-width="false" style="height:560px;"></div>
            </div>
            <div class="t544">
                <div class="t-container">
                        <div class="t544__top t544__col t-col t-col_6 ">
                        <div class="t544__textwrapper t-align_left" style="height:560px;">
                            <div class="t544__content t-valign_middle">
                                <div class="t544__title t-heading t-heading_xs " field="title" style>{{ master.header }}</div>
{#                                <div class="t544__descr t-descr t-descr_xs " field="descr" style>ТОП-мастер</div>#}
                                <div class="t544__line " style></div>
                                <div class="t544__text t-text t-text_sm " field="text" style>{{ master.text }}</div>
                            </div>
                        </div>
                    </div>
                        <div class="t544__col t-col t-col_6 ">
                            <div class="t544__blockimg t-bgimg" bgimgfield="img" data-original="{{ master.photo.url }}" style="background-image:url(&#x27;{{ master.photo.url }}&#x27;); height:560px;" itemscope itemtype="http://schema.org/ImageObject">
                                <meta itemprop="image" content="{{ master.photo.url }}">
                            </div>
                                </div>

                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t544_setHeight', function() {
                        window.addEventListener('resize', t_throttle(function() {
                            if (typeof window.noAdaptive != 'undefined' && window.noAdaptive == true && window.isMobile) return;
                            t544_setHeight('598791512');
                        }));
                        t544_setHeight('598791512');
                    });
                    var rec = document.querySelector('#rec598791512');
                    if (!rec) return;
                    var wrapper = rec.querySelector('.t544');
                    if (wrapper) {
                        wrapper.addEventListener('displayChanged', function() {
                            t544_setHeight('598791512');
                        });
                    }
                });
            </script>
        </div>

        {% endfor %}

        <div id="rec602607574" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-record-type="509"><!-- t509 -->
            <div class="t509">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs" field="btitle">Дипломы и Сертификаты</div>
                        </div>
                    </div>
                </div>
                <div class="t-card__container t-container">
                    <div class="t509__colwrapper t-col t-col_10 t-prefix_1"></div>
                </div>
            </div>
            <style>
                @media (hover),
                (min-width:0\0) {
                    #rec602607574 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec602607574 .t-btn:not(.t-animate_no-hover) {
                        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }

                    #rec602607574 .t-btntext:not(.t-animate_no-hover):hover {}
                }
            </style>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t509_setHeight', function() {
                        window.addEventListener('resize', t_throttle(function() {
                            t509_setHeight('602607574');
                        }));
                        t509_setHeight('602607574');
                        var rec = document.querySelector('#rec602607574');
                        if (!rec) return;
                        var wrapper = rec.querySelector('.t509');
                        if (wrapper) {
                            wrapper.addEventListener('displayChanged', function() {
                                t509_setHeight('602607574');
                            });
                        }
                    });
                });
            </script>
        </div>
        <div id="rec599513284" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#000000; " data-animationappear="off" data-record-type="604" data-bg-color="#000000"><!-- t604 -->
            <div class="t604">
                <div class="t-slds" style="visibility: hidden;">
                    <div class="t-container t-slds__main">

                        {% if certificates %}

                            <ul class="t-slds__arrow_container t-slds__arrow-nearpic">
                            <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left"><button type="button" class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg" aria-controls="carousel_599513284" aria-disabled="false" aria-label="Предыдущий слайд" style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
                                    <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 9px;"><svg role="presentation" focusable="false" style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5" />
                                        </svg></div>
                                </button></li>
                            <li class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right"><button type="button" class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg" aria-controls="carousel_599513284" aria-disabled="false" aria-label="Следующий слайд" style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
                                    <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 9px;"><svg role="presentation" focusable="false" style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5" />
                                        </svg></div>
                                </button></li>
                        </ul>

                        {% endif %}

                        <div class="t-slds__container t-width t-width_7 t-margin_auto">
                            <ul class="t-slds__items-wrapper t-slds_animated-fast t-slds__witharrows" id="carousel_599513284" data-slider-transition="300" data-slider-with-cycle="true" data-slider-correct-height="false" data-auto-correct-mobile-width="false" data-slider-arrows-nearpic="yes" aria-live="off">

                                {% for certificate in certificates %}

                                    <li class="t-slds__item t-slds__item_active" data-slide-index="1" role="group" aria-roledescription="slide" aria-label="{{ certificate.number }} из {{ count_certificates }}">
                                        <div class="t-width t-width_6 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                                            <div class="t-slds__wrapper t-align_center">
                                                <meta itemprop="image" content="{{ certificate.photo }}">
                                                <div class="t604__imgwrapper" bgimgfield="gi_img__0">
                                                    <div class="t-slds__bgimg t-bgimg" data-original="{{ certificate.photo.url }}" data-zoomable="yes" data-zoom-target="0" data-img-zoom-url="{{ certificate.photo.url }}" style="background-image: url(&#x27;{{ certificate.photo.url }}&#x27;);"></div>
                                                    <div class="t604__separator" data-slider-image-width="560" data-slider-image-height="550"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}

                            </ul>
                            <ul class="t-slds__bullet_wrapper">

                                {% for certificate in certificates %}

                                    <li class="t-slds__bullet t-slds__bullet_active" data-slide-bullet-for="1"><button type="button" class="t-slds__bullet_body" aria-label="Перейти к слайду {{ certificate.number }}" style="background-color: #c7c7c7;"></button></li>

                                {% endfor %}

                            </ul>
                        </div>
                        <div class="t-slds__caption__container"></div>
                    </div>
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t_sldsInit', function() {
                        t_sldsInit('599513284');
                    });
                    t_onFuncLoad('t604_init', function() {
                        t604_init('599513284');
                    });
                    t_onFuncLoad('t_slds_UpdateSliderHeight', function() {
                        t_slds_UpdateSliderHeight('599513284');
                    });
                    t_onFuncLoad('t_slds_UpdateSliderArrowsHeight', function() {
                        t_slds_UpdateSliderArrowsHeight('599513284');
                    });
                });
            </script>
            <style>
                #rec599513284 .t-slds__bullet_active .t-slds__bullet_body {
                    background-color: #222 !important;
                }

                #rec599513284 .t-slds__bullet:hover .t-slds__bullet_body {
                    background-color: #222 !important;
                }
            </style>
        </div>
        <div id="rec602606262" class="r t-rec t-rec_pt_90 t-rec_pb_0" style="padding-top:90px;padding-bottom:0px; " data-record-type="509"><!-- t509 -->
            <div class="t509">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs" field="btitle">Частые вопросы</div>
                        </div>
                    </div>
                </div>
                <div class="t-card__container t-container">
                    <div class="t509__colwrapper t-col t-col_10 t-prefix_1"></div>
                </div>
            </div>
            <style>
                @media (hover),
                (min-width:0\0) {
                    #rec602606262 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec602606262 .t-btn:not(.t-animate_no-hover) {
                        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }

                    #rec602606262 .t-btntext:not(.t-animate_no-hover):hover {}
                }
            </style>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t509_setHeight', function() {
                        window.addEventListener('resize', t_throttle(function() {
                            t509_setHeight('602606262');
                        }));
                        t509_setHeight('602606262');
                        var rec = document.querySelector('#rec602606262');
                        if (!rec) return;
                        var wrapper = rec.querySelector('.t509');
                        if (wrapper) {
                            wrapper.addEventListener('displayChanged', function() {
                                t509_setHeight('602606262');
                            });
                        }
                    });
                });
            </script>
        </div>
        <div id="rec599234951" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px; " data-animationappear="off" data-record-type="585"><!-- T585 -->
            <div class="t585">
                <div class="t-container">

                    {% for element in question_answer %}
                        <div class="t-col t-col_8 t-prefix_2">
                        <div class="t585__accordion" data-accordion="false" data-scroll-to-expanded="false">
                            <div class="t585__wrapper">
                                <div class="t585__header " style="border-top: 1px solid #eee;"><button type="button" class="t585__trigger-button" aria-controls="accordion1_599234951" aria-expanded="false"><span class="t585__title t-name t-name_xl" field="li_title__1480611044356" style>{{ element.header }}</span><span class="t585__icon"><span class="t585__lines"><svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                        <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                            <path d="M0,11 L22,11" />
                                                            <path d="M11,0 L11,22" />
                                                        </g>
                                                    </g>
                                                </svg></span><span class="t585__circle" style="background-color: transparent;"></span></span><span class="t585__icon t585__icon-hover"><span class="t585__lines"><svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                        <g transform="translate(1.000000, 1.000000)" stroke="#222222">
                                                            <path d="M0,11 L22,11" />
                                                            <path d="M11,0 L11,22" />
                                                        </g>
                                                    </g>
                                                </svg></span><span class="t585__circle" style="background-color: #eee;"></span></span></button></div>
                                <div class="t585__content" id="accordion1_599234951" hidden>
                                    <div class="t585__textwrapper">
                                        <div class="t585__text t-descr t-descr_xs" field="li_descr__1480611044356" style>
                                            {{ element.text }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <script>
                t_onReady(function() {
                    t_onFuncLoad('t585_init', function() {
                        t585_init('599234951');
                    });
                });
            </script>
        </div>
{% endblock %}