{% extends 'base.html' %}

{% load static %}

{% block head %}
    {% for elem in head %}
        {{ elem | safe }}
    {% endfor %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/blocks-page37050944.min.css' %}" type="text/css" media="all" onerror="this.loaderr='y';">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blocks-page37050944.min.js' %}" charset="utf-8" async onerror="this.loaderr='y';"></script>
{% endblock %}

{% block content %}

    <div id="rec600912327" class="r t-rec t-rec_pt_90 t-rec_pb_30" style="padding-top:90px;padding-bottom:30px; " data-animationappear="off" data-record-type="792"><!-- T792 -->
            <div class="t792">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="fadeinright" data-animate-group="yes" field="btitle"><h3>Цены</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="rec600918908" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-record-type="126"><!-- T118 -->
        <div class="t118">
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <hr class="t118__line" style="background-color:#000000;opacity:1;">
                </div>
            </div>
        </div>
    </div>

    {% for header in headers %}
        <div id="rec600912327" class="r t-rec t-rec_pt_90 t-rec_pb_30" style="padding-top:90px;padding-bottom:30px; " data-animationappear="off" data-record-type="792"><!-- T792 -->
            <div class="t792">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="fadeinright" data-animate-group="yes" field="btitle">{{ header.header }}</div>
                        </div>
                    </div>
                </div>

                <div class="t-container">

                    {% for position in header.positions %}

                        <div class="t-col t-col_8 t-prefix_2">
                        <div class="t792__wrapper t-animate" data-animate-style="fadeinright" data-animate-chain="yes">
                            <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1508946768182" style>{{ position.time_work }}</div>
                            <div class="t792__text-wrapper t-valign_top">
                                <div class="t792__title t-heading t-heading_sm" field="li_title__1508946768182" style>{{ position.text | linebreaks }}</div>
                            </div>
                            <div class="t792__price-wrapper t-valign_top">
                                <div class="t792__price t-name t-name_lg" field="li_text__1508946768182" data-redactor-toolbar="no" style>₽{{ position.price }}</div>
                            </div>
                        </div>
                        <div class="t792__line t-animate" data-animate-style="fadeinright" data-animate-chain="yes" style="margin-top: 28px; "></div>
                        </div>
                        <div class="t-clear t792__separator" style></div>

                    {% endfor %}

                </div>

                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__bottomwrapper t-clear t-align_center fadeinright"><a href="{{ button.link }}" target="_blank" class="t-btn t-btn_md t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="color:#ffffff;background-color:#1f5bff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                <table style="width:100%; height:100%;">
                                    <tbody>
                                        <tr>
                                            <td>{{ button.text }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a></div>
                    </div>
                </div>
                <style>
                    #rec600912327 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec600912327 .t-btn:not(.t-animate_no-hover) {
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }
                </style>
            </div>
        </div>

        <div id="rec600918908" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-record-type="126"><!-- T118 -->
        <div class="t118">
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <hr class="t118__line" style="background-color:#000000;opacity:1;">
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <div id="rec600912327" class="r t-rec t-rec_pt_90 t-rec_pb_30" style="padding-top:90px;padding-bottom:30px; " data-animationappear="off" data-record-type="792"><!-- T792 -->
            <div class="t792">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="fadeinright" data-animate-group="yes" field="btitle">{{ last_header.header }}</div>
                        </div>
                    </div>
                </div>

                <div class="t-container">

                    {% for position in last_header.positions %}

                        <div class="t-col t-col_8 t-prefix_2">
                        <div class="t792__wrapper t-animate" data-animate-style="fadeinright" data-animate-chain="yes">
                            <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1508946768182" style>{{ position.time_work }}</div>
                            <div class="t792__text-wrapper t-valign_top">
                                <div class="t792__title t-heading t-heading_sm" field="li_title__1508946768182" style>{{ position.text | linebreaks }}</div>
                            </div>
                            <div class="t792__price-wrapper t-valign_top">
                                <div class="t792__price t-name t-name_lg" field="li_text__1508946768182" data-redactor-toolbar="no" style>₽{{ position.price }}</div>
                            </div>
                        </div>
                        <div class="t792__line t-animate" data-animate-style="fadeinright" data-animate-chain="yes" style="margin-top: 28px; "></div>
                        </div>
                        <div class="t-clear t792__separator" style></div>

                    {% endfor %}

                </div>

                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__bottomwrapper t-clear t-align_center fadeinright"><a href="{{ button.link }}" target="_blank" class="t-btn t-btn_md t-animate" data-animate-style="fadeinright" data-animate-group="yes" style="color:#ffffff;background-color:#1f5bff;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                <table style="width:100%; height:100%;">
                                    <tbody>
                                        <tr>
                                            <td>{{ button.text }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a></div>
                    </div>
                </div>
                <style>
                    #rec600912327 .t-btn:not(.t-animate_no-hover):hover {
                        background-color: #000000 !important;
                    }

                    #rec600912327 .t-btn:not(.t-animate_no-hover) {
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                    }
                </style>
            </div>
        </div>







{% endblock %}